#loader {
  margin: 2rem 0;
}

#loader span {
  font-size: 2rem;
  color: #3273dc; /* Bulma primary color */
}

#loader p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #4a4a4a;
}

/* Hide the loader by default (JS will show it if needed) */
#loader.hidden {
  display: none;
}

#resume .card {
  transition: transform 0.3s, box-shadow 0.3s;
}

#resume .card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#skillsChart {
  text-decoration-color: #2656b7;
  max-height: 300px;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#resume-id li {
  padding-left: 1em;
  text-indent: -1em;
}

#resume-id li:before {
  content: "•";
  padding-right: 5px;
}

br {
  display: block;
  content: "";
  margin-top: 0.7em;
}
